@import "bootstrap";

.accordion {
  width: fit-content !important;
}

/*
  backdrop-filter: blur(16px) saturate(180%) !important;
  -webkit-backdrop-filter: blur(16px) saturate(180%) !important;
  background-color: rgba(156, 25, 82, 0.47) !important;
  border: 1px solid rgba(209, 213, 219, 0.3) !important;*/

.table {
  --bs-table-bg: rgba(156, 25, 82, 0.47);
  --bs-table-border-color: 1px solid rgba(209, 213, 219, 0.3);
}

.table thead {
  --bs-table-bg: #ff9abf;
}

.accordion-header {
  text-align: center !important;
}

.accordion-button {
  font-size: 2rem !important;
  letter-spacing: 0.1rem;
  font-weight: 700;
  background-color: #ff9abf !important;
  color: #fefefe !important;
}

.tabla-turno-btn {
  border-radius: 10px;
  background-color: #ff9abf;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff !important; /* Equivalent to text-white */
  margin-top: 1rem; /* Equivalent to mt-3 */
}

.tabla-turno-btn:hover {
  background-color: #ffd3e6;
  box-shadow: 0px 4px 15px rgba(255, 197, 255, 0.8);
  transform: scale(1.05);
  color: #050505 !important;
  border: 1px solid #ff9abf;
}
