.form-login {
  width: 100%;
  max-width: 400px;
  margin: 1rem auto;
  height: 210px;
  position: relative;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.6em;
  background: #f6f4f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.form-login:after {
  clear: both;
  content: "";
  display: table;
}

.login-border-inset {
  height: 190px;
  border: 4px solid rgba(255, 0, 0, 0.2);
  border-radius: 0.5em;
}

.login-text-vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.8rem;
  text-align: center;
  border-right: 4px solid rgba(255, 0, 0, 0.2);
  padding: 7px 7px;
  color: #aa6b40;
  text-shadow: 1px 0 0 rgba(255, 255, 255, 0.6);
}

.login-input {
  margin: 2rem 0;
  margin-left: 4rem;
  padding: 0;
}

.login-input > input {
  border-radius: 0.3em;
  border: 1px solid #91897e;
  box-shadow: inset 0 0 4px rgba(25, 0, 0, 0.4);
  padding: 1rem;
  margin: 0.5rem 0;
  transition: all 0.3s ease-out;
  width: 90%;
  height: 40px;
}

.login-input > input[type="password"] {
  flex: 1 0 48%;
  margin-right: 5%;
  width: 60%;
}

::-webkit-input-placeholder {
  font-family: verdana;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1px;
}

input[type="text"]:hover,
input[type="password"]:hover {
  box-shadow: none;
}

.login-button {
  flex: 1 0 48%;
  height: 40px;
  border: 1px solid #91897e;
  border-radius: 0.3em;
  padding: 8px 13px;
  transition: all 0.3s ease-out;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 20px 20px rgba(255, 255, 255, 0.1);
  cursor: pointer;
  background: rgba(250, 0, 0, 0.2);
  font-weight: bold;
  color: #aa6b40;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-family: verdana;
  margin-top: 0.5rem;
}

button:hover {
  background: rgba(250, 0, 0, 0.3);
}

@media (max-width: 480px) {
  .login-text-vertical {
    font-size: 10px;
  }
}
