.accordion {
  width: -moz-fit-content !important;
  width: fit-content !important;
  max-width: 80dvw;
  max-width: 80vw;
}

.tabla-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.tabla-admin-body {
  padding: 0.5rem;
}

.tabla-admin-btn {
  border-radius: 10px;
  background-color: #ff9abf;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff !important; /* Equivalent to text-white */
}

.tabla-admin-btn:hover {
  background-color: #ffd3e6;
  box-shadow: 0px 4px 15px rgba(255, 197, 255, 0.8);
  transform: scale(1.05);
  color: #050505 !important;
  border: 1px solid #ff9abf;
}

.icon {
  color: #050505;
}

.table-img {
  object-fit: cover;
  object-position: center;
  border: 1px solid #ffc5ff;
  border-radius: 100%;
}

.habilitado {
  background-color: #ffc5ff;
  border: 1px solid green;
  border-radius: 8px;
  color: green;
  font-weight: 600;
  padding: 10px;
}

.deshabilitado {
  background-color: #ffc5ff;
  border: 1px solid red;
  border-radius: 8px;
  color: red;
  font-weight: 600;
  padding: 10px;
}

.service-name,
.service-time,
.user-name {
  color: #ff9abf !important;
  font-weight: 600;
  font-size: 1.2rem;
  text-wrap: balance;
  text-transform: uppercase;
}

.user-name,
.service-time {
  color: #050505 !important;
}

.service-price {
  color: #050505;
  font-weight: 600;
  font-size: 1.2rem;
}

.service-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
