body {
  margin: auto;
  line-height: 1.5;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p {
  max-width: 65ch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation-duration: 0s !important;
    /* additional recommendation */
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
