.welcome-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #ffd3e6;
  padding: 100px 0;
}

.welcome-title {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  font-weight: 800;
  color: #050505;
  font-size: 3rem;
  text-wrap: balance;
  letter-spacing: 2.2px;
  margin-bottom: 4rem;
}

.welcome-text {
  position: relative;
  color: #050505cb;
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.5;
  text-wrap: pretty;
  max-width: 75%;
  margin: 1rem;
}

.left-foot,
.right-foot {
  position: absolute;
  transform: translateY(-50%);
}

.left-foot {
  top: 75%;
  left: 5%; /* Ajusta según sea necesario */
  transform: rotate(20deg);
}

.right-foot {
  top: 30%;
  right: 4%; /* Ajusta según sea necesario */
  transform: rotate(-35deg);
}

@media only screen and (min-width: 769px) {
  .h3,
  h3 {
    font-size: calc(var(--typeHeaderSize) * 0.3);
  }
}
