@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

.headline {
  left: 130px;
  position: relative;
}

.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.hero-text-container {
  width: 100%;
  max-width: 33.3333%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.hero-text {
  color: #6c757d;
  text-transform: uppercase;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.span {
  color: #ffb9d7;
}

.hero-btn {
  border-radius: 10px;
  background-color: #ff9abf;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 1rem 3rem;
  color: #fff !important;
  margin-top: 1rem;
}

.hero-btn:hover {
  background-color: #ffd3e6;
  box-shadow: 0px 4px 15px rgba(255, 197, 255, 0.8);
  transform: scale(1.05);
  color: #050505 !important;
  border: 1px solid #ff9abf;
}

.hero-clipped {
  width: 100%;
  max-width: 66.6667%;
  height: 100%;
}

.hero-bg {
  min-height: 350px;
  background-image: url("/src/assets/ImagenesOptimizadas/woman-s-feet-bowl-with-water-petal_329181-18808.jpg");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    height: 50vh;
    background-image: url("/src/assets/ImagenesOptimizadas/woman-s-feet-bowl-with-water-petal_329181-18808.jpg");
    background-position: center;
    background-size: cover;
  }

  .hero-text-container {
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: auto;
    z-index: 10;
  }

  .hero-btn {
    margin: 1rem 0;
    filter: drop-shadow(5px 5px 10px #f5d2d1);
  }

  .headline {
    left: 0;
  }

  .clipped {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
    max-height: 50dvh;
    max-height: 50vh;
    max-height: 40vh;
  }

  .hero-clipped {
    width: 100%;
    max-width: 66.6667%;
    height: 100%;
  }

  .hero-bg {
    display: none;
  }

  .hero-title {
    text-shadow: 5px 5px 10px #050505b8;
  }
  .hero-text {
    font-weight: 500;
    text-shadow: 5px 5px 10px #f5d2d1;
  }
}
